.upload{
  display: flex;
  align-items: center;
  justify-content: center;
}

.clearfix {
  position: relative;
  

  &:after {
    content: '';
    display: table;
    clear: both;
  }



}


.Upload {
  background-color: white;
  border: 1px solid gray;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .img-uploader>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .img-uploader>.ant-upload {
  width: 120px;
  height: 120px;
  &.size-s {
    width: 100px;
    height: 150px;
  }

  &.size-m {
    width: 150px;
    height: 200px;
  }

  &.size-l {
    width: 180px;
    height: 248px;
  }
}


:host ::ng-deep .size-s>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-s>.ant-upload {
  width:  100px;
  height: 140px;
}

:host ::ng-deep .size-m>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-m>.ant-upload {
  width: 160px;
  height: 200px;
}

:host ::ng-deep .size-l>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-l>.ant-upload {
  width: 220px;
  height: 320px;
}
