<div>
  <div class="clearfix">
    <nz-upload class="img-uploader" [ngClass]="size" nzListType="picture-card" [(nzFileList)]="fileList"
      [nzShowButton]="fileList.length < length" [nzPreview]="handlePreview" (nzChange)="handleChange($event)">
      <div>
        <span nz-icon nzType="plus"></span>
        <div style="margin-top: 8px">Upload</div>
        <!-- <img [src]="previewImage" [ngStyle]="{ width: '100%' }" /> -->

      </div>

    </nz-upload>
    <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
      (nzOnCancel)="previewVisible = false">
      <ng-template #modalContent>
        <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
      </ng-template>
    </nz-modal>
  </div>
</div>