<div class="input-field">
    <label>{{label}} <p *ngIf="required === true">*</p></label>
    <nz-input-group [nzSuffix]="type === 'password' ? suffixTemplate : undefined"
        *ngIf="optionValues == null && type !== 'textarea'">
        <input nz-input [type]="passwordVisible ? 'text' : type  " [(ngModel)]="value"
            (ngModelChange)="valueChange.emit($event)" [required]="required" [placeholder]="placeholder">
        <ng-template #suffixTemplate>
            <ts-icon (click)="passwordVisible = !passwordVisible"
                [name]="passwordVisible ? 'eye-invisible' : 'eye'"></ts-icon>
        </ng-template>
    </nz-input-group>

    <textarea *ngIf="optionValues == null && type === 'textarea'" nz-input [placeholder]="placeholder"
        [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)"
        [required]="required">
    </textarea>

    <div *ngIf="optionValues != null && type !== 'radio'" class="group-select">
        <nz-select [(ngModel)]="value" [nzPlaceHolder]="placeholder" (ngModelChange)="valueChange.emit($event)"
            [nzMode]="multiple ? 'multiple' : 'default'" class="select" nzAllowClear>
            <nz-option *ngFor="let optionValue of optionValues ,  let i = index" [nzLabel]="labelValues?.[i] || optionValue"
                [nzValue]="optionValue"></nz-option>
        </nz-select>
    </div>

    <nz-radio-group class="radio" *ngIf="optionValues != null && type === 'radio'" [(ngModel)]="value"
        (ngModelChange)="valueChange.emit($event)">
        <label nz-radio-button *ngFor="let optionValue of optionValues,  let i = index" nz-radio  [nzValue]="optionValue">{{labelValues?.[i] || optionValue}}</label>
    </nz-radio-group>
</div>