<div class="input-field">
    <label>{{label}} <p *ngIf="required === true">*</p></label>
    <nz-input-group [nzSuffix]="type === 'password' ? suffixTemplate : undefined"
        *ngIf="optionValue == null && type !== 'textarea'">
        <input nz-input [type]="passwordVisible ? 'text' : type  " [(ngModel)]="value"
            (ngModelChange)="valueChange.emit($event)" [required]="required" [placeholder]="placeholder">
        <ng-template #suffixTemplate>
            <ts-icon (click)="passwordVisible = !passwordVisible"
                [name]="passwordVisible ? 'eye-invisible' : 'eye'"></ts-icon>
        </ng-template>
    </nz-input-group>

    <textarea *ngIf="optionValue == null && type === 'textarea'" nz-input [placeholder]="placeholder"
        [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)"
        [required]="required">
    </textarea>

    <div *ngIf="optionValue != null && type !== 'textarea'" class="group-select">
        <select [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)" [required]="required">
            <option value="" disabled selected *ngIf="placeholder != ''" class="placeholder">{{placeholder}}</option>
            <option *ngFor="let role of optionValue" [value]="role">
                <div class="item">{{ role }}</div>
            </option>
        </select>
    </div>

</div>