<div class="input-field">
    <label>{{label}} <p *ngIf="required === true">*</p></label>
    <nz-input-group [nzSuffix]="type === 'password' ? suffixTemplate : undefined"
        *ngIf="optionValue == null && type !== 'textarea'">
        <input nz-input [type]="passwordVisible ? 'text' : type  " [(ngModel)]="value"
            (ngModelChange)="valueChange.emit($event)" [required]="required" [placeholder]="placeholder">
        <ng-template #suffixTemplate>
            <ts-icon (click)="passwordVisible = !passwordVisible"
                [name]="passwordVisible ? 'eye-invisible' : 'eye'"></ts-icon>
        </ng-template>
    </nz-input-group>

    <textarea *ngIf="optionValue == null && type === 'textarea'" nz-input [placeholder]="placeholder"
        [nzAutosize]="{ minRows: 6, maxRows: 6 }" [(ngModel)]="value" (ngModelChange)="valueChange.emit($event)"
        [required]="required">
    </textarea>

    <div *ngIf="optionValue != null && type !== 'textarea'" class="group-select">
        <nz-select *ngIf="!multiple" nzShowSearch nzAllowClear [nzPlaceHolder]="placeholder" [(ngModel)]="value" class="select">
            <nz-option *ngFor="let Value of optionValue" [nzLabel]="Value" [nzValue]="Value"></nz-option>
        </nz-select>

        <nz-select *ngIf="multiple" [(ngModel)]="value" [nzMode]="'multiple'" [nzPlaceHolder]="placeholder"
            (ngModelChange)="valueChange.emit($event)" class="multiple-select">
            <nz-option *ngFor="let Value of optionValue" [nzValue]="Value" [nzLabel]="Value"></nz-option>
        </nz-select>
    </div>

</div>