@if (userInfo) {
  <div class="user-details">
    <div class="user-item">
      <span class="title">Email: </span>
      <span class="desc">{{ (userInfo.email | titlecase) || 'No Name' }}</span>
    </div>
    <div class="user-item">
      <span class="title">Name: </span>
      <span class="desc">{{ (userInfo.username | titlecase) || 'No Email' }}</span>
    </div>
    <div class="user-item">
      <span class="title">Name: </span>
      @for (role of userInfo.roles; track role) {
        <span class="desc"> {{ role | mapUserRole }}</span>
      }
    </div>
    <div class="user-item">
      <span class="title">Created Date: </span>
      <span class="desc">{{ userInfo.createdDate | formatDate }}</span>
    </div>
  </div>
}
