.user {
  padding: 36px;
  flex: 1 1 25%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  height: 100%;

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;

    .name {
      font-weight: 600;
      font-size: large;
      display: flex;
      justify-content: center;
      gap: 8px;
    }
  }


  .role {
    margin-top: 12px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    gap: 8px;

    li {
      padding: 2px 12px;
      background-color: #f38990;
      font-size: 20px;
      color: white;
      border-radius: 100px;
    }

    :hover {
      background-color: #ef5e68;
      transition: 0.2s;
    }
  }
}

nz-avatar.ant-avatar.ant-avatar-circle.ant-avatar-icon.ant-avatar-image {
  max-width: 170px;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid black;
}
