<div class="story-details">
    <!-- <img [src]="storyData?.thumbnail" alt=""> -->
    <div class="story">
        <app-img [url]="storyData?.thumbnailUrl" [size]="'large'" [imgType]="'portrait'"></app-img>
        <div class="content">
            <p class="name">{{storyData?.title}}</p>

            <div class="basic-information">
                <div>
                    <div>
                        <p>Status : {{storyData?.status|| 'Unknown'}}</p>
                        <p>Views: {{storyData?.views || 0}}</p>
                        <p>Chapter: {{storyData?.chapters?.length}}</p>
                    </div>

                    <div>
                        <p class="title">Genre : </p>
                        <ul>
                            <li class="item-genre" *ngFor="let genre of storyData?.genres"
                                (click)="navigateToMangaWithId(genre.title)">{{genre.title}}</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div>
                        <p class="title">Author : </p>
                        <div class="authors">
                            <app-item-author *ngFor="let author of storyData?.authors"
                                [author]="author"></app-item-author>
                        </div>
                    </div>
                    <div>
                        <p class="title">Story Poster : </p>
                        <div class="authors">
                            <app-item-author *ngIf="storyData?.publisher"
                                [user]="storyData?.publisher"></app-item-author>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <p class="title">Introduce : </p>
        <p>{{storyData?.description}}</p>
    </div>
</div>