<div class="tory-details">
    <!-- <img [src]="storyData?.thumbnail" alt=""> -->
    <app-img [url]="storyData?.thumbnailUrl" [size]="'large'" [imgType]="'portrait'"></app-img>
    <div class="content">
        <div>
            <p class="name">{{storyData?.title}}</p>
            
            <p>Author : {{storyData?.author}}</p>
            <p>Status : {{storyData?.status}}</p>
            <p>Views: {{storyData?.views}}</p>
            <p>Chapter: {{storyData?.chapter}}</p>
        </div>
        <div>
            <p class="title">Author : </p>
            <ul>
                <li class="item-genre" *ngFor="let author of storyData?.author" >{{author.name}}</li>
            </ul>
        </div>
        <div>
            <p class="title">Genre : </p>
            <ul>
                <li class="item-genre" *ngFor="let genre of storyData?.genres" (click)="navigateToMangaWithId(genre.title)">{{genre.title}}</li>
            </ul>
        </div>
        <div>
            <p class="title">Introduce : </p>
            <p>{{storyData?.introduce}}</p>
        </div>
    </div>
</div>

<div class="chapters">
    <div class="title">
        <p >chapter : {{storyData?.chapters?.length}}</p>
        <app-open-form formName="add chapter" [data]="storyData"></app-open-form>
    </div>
    <div class="item-chapter" *ngFor="let chapter of storyData?.chapters" (click)="navigateToChapter(chapter?.id)">
        {{chapter.name}}
    </div>
</div>