.title {
    font-size: 16px;
    text-align: left;
}


form {
    display: flex;
    gap: 24px;
    margin-top: 24px;

    .upload-img {
        width: 220px;

        .url-img {
            display: flex;
            flex-direction: column;
            text-align: left;
            flex: 1;

            a {
                width: 100%;
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                flex: 1;

            }

            .empty{
                color: gray;
            }
        }
    }

    .story{
        display: flex;
        flex-direction: column;
        gap: 24px;

        .basic {
            display: grid;
            gap: 6px 20px;
        }
    
        .group-button {
            display: flex;
            justify-content: right;
            gap: 12px;
        }
    }
}