.genres {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 24px;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            button {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
    }

    .group-genre {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        width: 100%;

        .item {
            cursor: pointer;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            width: 100%;

            &:hover {
                background-color: #007bff69;
                transition: 0.2s;
            }

            &.selected {
                background-color: #007bff;
                color: white;
                transition: 0.2s;

                &:hover {
                    background-color: #fd7676c4;
                    transition: 0.1s;
                }
            }

        }
    }
}