.installation{
    text-align: left;
    background-color: white;
    border-radius: 6px;

    .title {
        border-bottom: 1px solid gray;
        padding: 12px 20px;
        width: 100%;
    }
    
    .basic {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 6px 20px;
    }
    
    .group-button{
        display: flex;
        justify-content: right;
        gap: 12px;
        margin-top: 24px;
    }
}