.user-profile {
    border-radius: 8px;
    flex: 1;
    display: flex;
    background-color: rgba(128, 128, 128, 0.078);
    flex-direction: column;
    min-width: 1020px;
    height: 80%;

    .title {
        border-bottom: 1px solid rgba(128, 128, 128, 0.484);
        display: flex;
        padding: 0px 24px;

        .item {
            padding: 6px 24px;
            cursor: pointer;
        &:hover{
            color: #f38990;
        }
        }

        .select {
            border-bottom: 2px solid #f38990;
        }
    }

    .content {
        padding: 24px;
        .intro{
            text-align: left;
        }
    }
}

:host {
    ::ng-deep {
      nz-list.ant-list.ant-list-split {
  
        .ant-list-item {
          padding: 0px 0px;
        }
      }
    }
  }