<p class="title">Create New User</p>
<div>
    <form nz-form (ngSubmit)="onSubmit($event)">
        <div class="basic">
            <app-upload-avatar (avatarUrlChange)="onAvatarUrlChange($event)" [img]="user.avatarUrl"></app-upload-avatar>
            <app-input-field label="Name" [(value)]="user.username" type="text"
                (valueChange)="onFieldValueChange('username', $event)" [required]="true">
            </app-input-field>

            <app-input-field label="Email" [(value)]="user.email" type="email"
                (valueChange)="onFieldValueChange('email', $event)" [required]="true">
            </app-input-field>

            <app-input-field label="Date of Birth" [(value)]="user.birthday" type="date"
                (valueChange)="onFieldValueChange('birthday', $event)">
            </app-input-field>

            <app-input-field label="Roles" [(value)]="user.roles" type="date"
                (valueChange)="onFieldValueChange('birthday', $event)" [optionValues]="roles" [multiple]="true">
            </app-input-field>

            <app-input-field label="Password" [(value)]="user.password" type="password"
                (valueChange)="onFieldValueChange('password', $event)">
            </app-input-field>

            <app-input-field label="Confirm password" [(value)]="user.confirmPassword" type="password"
                (valueChange)="onFieldValueChange('confirmPassword', $event)">
            </app-input-field>
        </div>
        <div class="group-button">
            <button nz-button nzType="text" type="reset" >Reset</button>
            <button nz-button nzType="primary" type="submit" class="submit" nzDanger>Submit</button>
        </div>
    </form>
</div>