:host {
  ::ng-deep {
    nz-list.ant-list.ant-list-split {


      .last-item {
        border-bottom: none !important;
      }

      .ant-list-item {
        border-bottom: 1px solid var(--text-gray14);
        padding: 10px 10px;
      }
    }
  }
}

.title {
  color: var(--pink12);
  font-weight: bold;
  padding-top: 0;
  font-size: 20px;
}

.user-list-container {
  max-height: 500px;
  overflow-y: auto;
}
