.user {
    cursor: pointer;
    .mail {
        font-size: small;
        color: gray;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    align-items: center;
}

td ul li {
    list-style-type: none;
}

