<div class="user">
    <div class="backgrourd-image">

    </div>
    <div class="detail">
        <div class="detailed-content">
            <nz-avatar class="avata" [nzSrc]="user?.avatarUrl" nzIcon="user" [nzSize]="128"></nz-avatar>
            <div class="Information">
                <div>
                    <p class="name">{{user?.username || user?.name}}</p>
                    <div class="subtitle">
                        <p>{{user?.email || user?.description}}</p>
        
                        <p class="role" *ngFor="let role of user?.roles">{{ role }}</p>
        
                    </div>
                </div>
            </div>
        </div>
        <div class="follow">
            <button nz-button nzType="primary">follow</button>
        </div>
        
    </div>
    <app-user-profile [id]="user?.id"></app-user-profile>

</div>