.edit-chapter {
    width: 1036px;

    form {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
}


.title {
    font-size: 16px;
    text-align: left;
}

.basic {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 cột có cùng kích thước */
    gap: 6px 20px;
}

.group-button {
    display: flex;
    justify-content: right;
    gap: 12px;
    margin-top: 24px;
}