.chapters {
    width: 100%;
    text-align: left;

    .title {
        padding: 12px 24px;
        border-bottom: 1px solid gray;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .item-chapter {
        padding: 6px 24px;
        transition: 0.2s;
        cursor: pointer;

        &:hover {
            background-color: #f38990;
            color: white;
            transition: 0.2s;
        }
    }
}