<div class="title-user-management">
    Users
</div>

<div class="user-management">
    <div class="group-tool">
        <app-open-form [formName]="'add user'" buttonType="danger"></app-open-form>
        
        <app-input-field [(value)]="filter.userType" type="text" (valueChange)="onFieldValueChange('userType', $event)"
        placeholder="select User Type"  [optionValue]="userTypeList">
        </app-input-field>
        <app-input-field [(value)]="filter.teams" type="text" (valueChange)="onFieldValueChange('teams', $event)"
        placeholder="select Teams" [optionValue]="teamList">
        </app-input-field>
        <app-input-field [(value)]="filter.search" type="text" (valueChange)="onFieldValueChange('search', $event)"
            placeholder="search">
        </app-input-field>
    </div>

    <app-user-list [listOfData]="listOfData"></app-user-list>
</div>