<button (click)="openForm()" nz-button nzType="primary" [ngClass]="buttonType">
    <ts-icon [name]="icon"></ts-icon>
    <p *ngIf="label">{{ formName }}</p>
</button>
<div class="container" *ngIf="currentForm === formName" (click)="closeForm()">
    <div class="content" (click)="blockFormClosing($event)">
        <ng-container *ngIf="currentForm === formName">
            <ng-container [ngSwitch]="formName">

                <app-add-user-form *ngSwitchCase="'add user'" (complete)="done()" (change)="changeValue()"></app-add-user-form>
                <app-add-story-form *ngSwitchCase="'add story'" [genre]="genre" (complete)="done()" (change)="changeValue()"></app-add-story-form>
                <app-add-chapter-form *ngSwitchCase="'add chapter'" [storyData]="storyData" (complete)="done()" (change)="changeValue()"></app-add-chapter-form>
                <app-add-genre-form *ngSwitchCase="'add genre'" (complete)="done()" (change)="changeValue()"></app-add-genre-form>
                <app-add-author-form *ngSwitchCase="'add author'" (complete)="done()" (change)="changeValue()" (change)="changeValue()"></app-add-author-form>

                <app-edit-user-form *ngSwitchCase="'edit user'" [id]="id"></app-edit-user-form>
                <app-edit-story-form *ngSwitchCase="'edit story'" (complete)="done()" (change)="changeValue()" [id]="id" [img]="img"></app-edit-story-form>
                <app-edit-chapter-form *ngSwitchCase="'edit chapter'" (complete)="done()" [ChapterData]="ChapterData" [id]="id"></app-edit-chapter-form>
                <app-edit-genre-form *ngSwitchCase="'edit genre'" (complete)="done()" (change)="changeValue()" [id]="id" ></app-edit-genre-form>
                <app-edit-author-form *ngSwitchCase="'edit author'" (complete)="done()" (change)="changeValue()" [id]="id"></app-edit-author-form>
                
                <app-delete-form *ngSwitchCase="'delete'" [id]="id" (complete)="done()" (change)="changeValue()" [delete]="delete" ></app-delete-form>

            </ng-container>
        </ng-container>
    </div>
</div>

<app-confirmation-form
 *ngIf="confirmationForm" 
 content="changes are not saved yet. Do you want to exit?" 
 (confirm)="closeConfirmationForm($event)"
 >
</app-confirmation-form>