<div class="list-grid">
    <nz-list [nzDataSource]="paginatedData" [nzRenderItem]="itemTemplate" [nzGrid]="{gutter: 16, span: 4}">
        <ng-template #itemTemplate let-item>
          <nz-list-item>
            <nz-card>
              <img [src]="item.thumbnail" alt="Thumbnail" >
              <p class="name">{{ item.name }}</p>
              <p>{{ item.author }}</p>
              <p>Views: {{ item.views }}</p>
              <p>Chapters: {{ item.chapter }}</p>
              <p>Status: {{ item.status }}</p>
            </nz-card>
          </nz-list-item>
        </ng-template>
      </nz-list>
      <nz-pagination [nzPageIndex]="currentPage" [nzTotal]="storyData.length" [nzPageSize]="pageSize" (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
 
</div>