<nz-table #basicTable [nzOuterBordered]="true" [nzSize]="'small'" [nzData]="storyData || []">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Author</th>
        <th>Translator</th>
        <th>Views</th>
        <th>Chapter</th>
        <th>Status</th>
        <th>Created</th>
        <th>Update</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="Thumbnail"><img [src]="data.thumbnail" alt="Thumbnail" class=""></td>
        <td>{{ data.name }}</td>
        <td>{{ data.author }}</td>
        <td>{{ data.translator }}</td>
        <td>{{ data.views }}</td>
        <td>{{ data.chapter }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.created | date: 'short' }}</td>
        <td>{{ data.update | date: 'short' }}</td>
        <td>
          <div class="flex">
            <app-open-form [formName]="'edit story'" buttonType="warning" [id]="data.id" [img]="data.thumbnail"></app-open-form>
            <app-open-form [formName]="'delete'" buttonType="danger" [id]="data.id" delete="story"></app-open-form>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  
