<p class="title">edit genre id : {{id}}</p>
<div>
    <form nz-form (ngSubmit)="onSubmit($event)">
        <div class="basic">
            <app-input-field label="Name" [(value)]="genre.title" type="text"
                (valueChange)="onFieldValueChange('title', $event)" [required]="true">
            </app-input-field>

            <app-input-field label="Phone" [(value)]="genre.description" type="textarea"
                (valueChange)="onFieldValueChange('description', $event)" [required]="true">
            </app-input-field>

            <!-- <label nz-checkbox [(ngModel)]="genre.AgeWarning"
                (ngModelChange)="onFieldValueChange('AgeWarning', $event)" name="ageWarning">
                Age Warning
            </label> -->
            
        </div>
        <div class="group-button">
            <button nz-button nzType="text" type="reset">Reset</button>
            <button nz-button nzType="primary" type="submit" class="submit" nzDanger>Submit</button>
        </div>
    </form>
</div>