<p class="title">edit author</p>
<div>
    <form nz-form (ngSubmit)="onSubmit($event)">
        <div class="basic">
            <app-upload-avatar (avatarUrlChange)="onAvatarUrlChange($event)" [img]="author.avatarUrl"></app-upload-avatar>

            <app-input-field label="name" [(value)]="author.name" type="text"
                (valueChange)="onFieldValueChange('name', $event)" [required]="true">
            </app-input-field>

            <app-input-field label="describe" [(value)]="author.description" type="textarea"
                (valueChange)="onFieldValueChange('description', $event)" [required]="true">
            </app-input-field>
            
        </div>
        <div class="group-button">
            <button nz-button nzType="text" type="reset">Reset</button>
            <button nz-button nzType="primary" type="submit" class="submit" nzDanger>Submit</button>
        </div>
    </form>
</div>