:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  background-image: url("../../../assets/img/back_auth.png");
}

.container {
  width: 476px;
  height: fit-content;
  z-index: 99;
  margin-left: 16%;
  background: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  padding: 30px 40px;
  border: 1px solid var(--white);
}
