<div class="story">
    <img [src]="storyData?.thumbnailUrl" alt="">
    <div class="content">

        <p class="name">{{storyData?.title}}</p>

        <div class="author" *ngFor="let author of storyData?.authors">
            <app-item-author [user]="author"></app-item-author>
        </div>

        <div>
            <p>Chapter : {{storyData?.chapter|| 0}}</p>
            <p>Views : {{storyData?.views || 0}}</p>
            <p>Status : {{storyData?.status || "Unknown"}}</p>
        </div>
        
        <div class="genne">
            <p class="title">genne : </p>
            <div class="genre">
                <p *ngFor="let genre of storyData?.genres">{{genre?.title}}</p>
            </div>
        </div>
        <div class="introduce">
            <p class="title">Story content : </p>
            <pre>{{storyData?.description}}</pre>

        </div>
        <div class="group-button">
            <button nz-button nzType="link" (click)="viewStory()">View</button>
        </div>
    </div>
</div>