<div class="story">
    <img [src]="storyData?.thumbnailUrl" alt="">
    <div class="content">

        <div>
            <p class="name">{{storyData?.title}}</p>
            <ul>
                <li *ngFor="let author of storyData?.authors">{{author.name}}</li>
            </ul>
        </div>
        <div>
            <p>Chapter : {{storyData?.chapter}}</p>
            <p>Views : {{storyData?.views}}</p>
            <p>Status : {{storyData?.status}}</p>
        </div>
        <div class="genne">
            <p class="title">genne : </p>
            <div class="genre">
                <p *ngFor="let genre of storyData?.genres">{{genre?.title}}</p>
            </div>
        </div>
        <div class="introduce">
            <p class="title">Story content : </p>
            <p>{{storyData?.introduce}}</p>

        </div>
        <div class="group-button">
            <button nz-button nzType="link" (click)="viewStory()">xem</button>
        </div>
    </div>
</div>