<div class="container d-flex flex-dir-column">
  <div class="title-wrapper d-flex flex-dir-row justify-content-between">
    <div>
      <p class="title-welcome">Welcome to <span>WIBU</span></p>
      <p class="title-main">Sign in</p>
    </div>
    <div class="title-no-account d-flex flex-dir-column gap-8">
      <p><span>No Account</span> ?</p>
      <p (click)="handleClickSignUp()">Sign up</p>
      <!--  social-->
      <div class="social-wrapper d-flex justify-content-between gap-2">
        <button class="google" nz-button>
          <img alt="google-img" src="/assets/icon/google.svg">
        </button>

        <button class="facebook" nz-button>
          <img alt="fb-img" src="/assets/icon/Facebook.svg">
        </button>

        <button class="apple" nz-button>
          <img alt="apple-img" src="/assets/icon/apple.svg">
        </button>
      </div>
    </div>
  </div>

  <!--  Form control-->
  <div class="form-control-wrapper d-flex flex-dir-column gap-20">
    <div class="form-control d-flex flex-dir-column  gap-12">
      <label>Enter your username or email address</label>
      <input nz-input placeholder="Username or email address"/>
    </div>

    <div class="form-control d-flex flex-dir-column gap-12">
      <label>Enter your Password</label>
      <input nz-input placeholder="Password"/>
    </div>
  </div>

  <div class="forgot d-flex justify-content-end">
    <p>Forgot Password</p>
  </div>

  <div class="btn-sign d-flex justify-content-end">
    <button nz-button>Sign In</button>
  </div>


</div>
