
.title-wrapper {
  color: var(--black);

  .title-welcome {
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    span {
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      color: var(--primary);
    }
  }

  .title-no-account {
    color: var(--text-gray14);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    p:nth-child(1) {
      &:hover {
        span {
          text-decoration: underline;
          text-underline-position: under;
          cursor: pointer;
        }
      }
    }

    p:nth-child(2) {
      &:hover {
        text-decoration: underline;
        text-underline-position: under;
        cursor: pointer;
      }
    }


    p:nth-child(2) {
      color: var(--primary-hover);
    }
  }
}

.title-main {
  color: var(--black);
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.social-wrapper {
  button {
    justify-content: center;

    &:hover {
    }
  }

  .ant-btn {
    padding: 0;
  }

  .google,
  .facebook,
  .apple {
    display: flex;
    align-items: center;
    aspect-ratio: 1;
    flex-shrink: 0;
    border-radius: 9px;

    img {
      width: 16px;
    }
  }
}

.form-control-wrapper {
  margin-top: 40px;

  .form-control {

    label {
      color: var(--black);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    input {
      width: 100%;
      border-radius: 9px;
      padding: 13px 10px;
      flex-shrink: 0;

      ::placeholder {
        color: var(--text-gray14);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
      }
    }
  }
}

.forgot {
  width: 100%;
  margin-top: 10px;

  p {
    color: var(--blue12);
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    &:hover {
      text-decoration: underline;
      text-underline-position: under;
      cursor: pointer;
    }
  }
}


.btn-sign {
  margin-top: 10px;

  button {
    height: 54px;
    padding: 15px 92px;
    border-radius: 10px;
    background: var(--pink14);
    color: var(--white);
  }

  .ant-btn:focus, .ant-btn:hover {
    border-color: var(--primary-hover);
    color: var(--primary-hover);
  }
}
