<div class="container d-flex flex-dir-column">
  <div class="title-wrapper d-flex flex-dir-row justify-content-between">
    <div>
      <p class="title-welcome">Welcome to <span>WIBU</span></p>
      <p class="title-main">Sign in</p>
    </div>
    <form class="title-no-account d-flex flex-dir-column gap-8">
      <p><span>No Account</span> ?</p>
      <p (click)="handleClickSignUp()">Sign up</p>
      <!--  social-->
      <div class="social-wrapper d-flex justify-content-between gap-2">
        <button class="google" nz-button>
          <img alt="google-img" src="/assets/icon/google.svg">
        </button>

        <button class="facebook" nz-button>
          <img alt="fb-img" src="/assets/icon/Facebook.svg">
        </button>

        <button class="apple" nz-button>
          <img alt="apple-img" src="/assets/icon/apple.svg">
        </button>
      </div>
    </form>
  </div>

  <!--  Form control-->
  <form [formGroup]="loginFormGroup" class="form-control-wrapper d-flex flex-dir-column gap-20" nz-form>
    <nz-form-item class=" d-flex flex-dir-column gap-12">
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="user">
          <input formControlName="email" nz-input placeholder="Enter email" type="text"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item class=" d-flex flex-dir-column gap-12">
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group nzPrefixIcon="lock">
          <input formControlName="password" nz-input placeholder="Enter password" type="password"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
  </form>

  <div class="forgot d-flex justify-content-end">
    <p>Forgot Password</p>
  </div>

  <div class="btn-sign d-flex justify-content-end">
    <button (click)="handleSubmitSignIn()" nz-button>Sign In</button>
  </div>
</div>
