.author-selector {
    padding: 24px;
    text-align: left;

    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;

        .actions {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 12px;

            button {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }

    }

    .pagination {
        margin-top: 18px;
    }

    .group-author {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        width: 100%;

        .item {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            position: relative;

            .author {
                display: flex;
                align-items: center;
                gap: 24px;

            }

            .form-group {
                position: absolute;
                right: 10px;
                top: 10px;
                display: none;
                gap: 4px;
            }

            .content {
                padding: 5px;

                strong {
                    cursor: pointer;

                    &:hover {
                        color: #007bff;
                    }
                }

            }

            &:hover {
                background-color: #007bff69;
                transition: 0.2s;
            }

            &.selected {
                background-color: #007bff;
                color: white;
                transition: 0.2s;

                &:hover {
                    background-color: #fd7676c4;
                    transition: 0.1s;
                }
            }

        }
    }
}