<div class="author-selector">
    <div class="title">
        <h3>author selector </h3>
        <div class="actions">
            <button (click)="clean()" nz-button nzType="primary" nzDanger>
                <ts-icon [name]="'clear'"></ts-icon>
                <p>clean</p>
            </button>
            <app-input-field [(value)]="itemFilter.value" type="text" (valueChange)="onFieldValueChange('name', $event)"
                placeholder="search">
            </app-input-field>
        </div>

    </div>
    <div class="group-author">
        <div *ngFor="let author of authors , trackBy:identify" class="item" (click)="toggleauthor(author)"
            [class.selected]="isSelected(author)">
            <div class="content">
                <div class="author">
                    <nz-avatar [nzSrc]="author.avatarUrl" nzIcon="user" [nzSize]="64"></nz-avatar>
                    <strong>{{ author.name }}</strong>
                </div>
                <p>{{ author.description }}</p>
            </div>
        </div>
    </div>
    <div class="pagination">
        <nz-pagination [nzPageIndex]="meta?.pageNumber" [nzTotal]="meta?.numberOfRecords" [nzPageSize]="meta?.pageSize"
            (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
    </div>
</div>