:host ::ng-deep .avatar-uploader>.ant-upload {
    width: 128px;
    height: 128px;
}

.upload-avatar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .status{
      position: relative;

      .upload-icon{
        position: absolute;
        right: 0;
        top: 0;
      }
    }
}

:host ::ng-deep .size-s>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-s>.ant-upload {
  width:  100px;
  height: 140px;
}

:host ::ng-deep .size-m>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-m>.ant-upload {
  width: 160px;
  height: 200px;
}

:host ::ng-deep .size-l>.ant-upload-list>.ant-upload-list-picture-card-container,
:host ::ng-deep .size-l>.ant-upload {
  width: 220px;
  height: 320px;
}
