<div class="upload-avatar" >
  <div>
    <nz-upload
   [ngClass]="size"
    class="avatar-uploader"
    [nzAction]="uploadUrl"
    nzName="file"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    [nzBeforeUpload]="beforeUpload"
    (nzChange)="handleChange($event)"
  >
    <ng-container *ngIf="!avatarUrl.data.url" class="status">
      <span class="upload-icon" nz-icon [nzType]="loading ? 'loading' : 'plus'"></span>
      <div class="ant-upload-text" *ngIf="!img">Upload</div>
    </ng-container>
    <img *ngIf="avatarUrl?.data?.url" [src]="avatarUrl.data.url" style="width: 100%" />
    <!-- <img *ngIf="!avatarUrl?.data?.url && img" [src]="img" style="width: 100%" /> -->
  </nz-upload>
  </div>
</div>