.Thumbnail {
    width: 120px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100%;
    }
}

.flex {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    align-items: center;
}