<nz-table #basicTable [nzOuterBordered]="true" [nzSize]="'small'" [nzData]="storyData || []" [nzShowPagination]="false">
    <thead>
      <tr>
        <th>Thumbnail</th>
        <th>Name</th>
        <th>Author</th>
        <th>Views</th>
        <th>Chapter</th>
        <th>Status</th>
        <th>Created</th>
        <th>Update</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td class="Thumbnail"><img [src]="data.thumbnailUrl" alt="Thumbnail" class="" (click)="selectStory(data)"></td>
        <td>{{ data.title }}</td>
        <td class="author"><app-item-author *ngFor="let author of data.authors" [user]="author"></app-item-author></td>
        <td>{{ data.views }}</td>
        <td>{{ data.chapters?.length }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.createdDate | date: 'short' }}</td>
        <td>{{ data.update | date: 'short' }}</td>
        <td>
          <div class="flex">
            <app-open-form [formName]="'edit story'" buttonType="warning" [id]="data.id" [img]="data.thumbnailUrl"></app-open-form>
            <app-open-form [formName]="'delete'" buttonType="danger" [id]="data.id" delete="story"></app-open-form>
          </div>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <br>
  <nz-pagination [nzPageIndex]="meta?.pageNumber" [nzTotal]="meta?.numberOfRecords" [nzPageSize]="meta?.pageSize"
    (nzPageIndexChange)="onPageChange($event)"></nz-pagination>
  <app-open-modal *ngIf="previewVisible" (previewVisible)="handleVisible($event)">
    <app-preview-the-story [storyData]="selectedStory"></app-preview-the-story>
  </app-open-modal>
  
