<nz-list-item [ngClass]="{
  'last-item': isLast,
  'item-even': isEven
}">
  <ng-container>
    <nz-list-item-meta  (click)="handleVisible()"
      [nzAvatar]="user.avatarUrl ? user.avatarUrl : defaultAvatar"
      [nzDescription]="user.username"
      class="user-name-text"
    >
    </nz-list-item-meta>
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <app-open-form [formName]="'edit user'" buttonType="warning" [id]="user.id" ></app-open-form>
      </nz-list-item-action>
      <nz-list-item-action>
        <app-open-form [formName]="'delete'" buttonType="danger" [id]="user.id" delete="user"></app-open-form>
      </nz-list-item-action>
    </ul>
  </ng-container>
</nz-list-item>
<app-open-modal *ngIf="previewVisible" (previewVisible)="handleHiddenVisible($event)"><app-preview-the-user [user]="user"></app-preview-the-user></app-open-modal>
